# EditorConfig refs: https://EditorConfig.org
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
tab_width = 2
max_line_length = 90

# refs
#   - https://github.com/markdown-it/markdown-it/blob/master/.editorconfig
[*.md]
indent_size = 4
tab_width = 4
trim_trailing_whitespace = false

# 90 桁はレビュー対象のドキュメントにだけ課す
[docs/**.md]
max_line_length = 90
